<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Boot</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" href="../static/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_boot.css') }}" />
    <!-- Bootstrap JS y dependencias -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>

<body>
    <div class="chat-container shadow">
        <!-- Chat Messages -->
        <div class="chat-messages d-flex flex-column">
            <div class="chat-message user d-flex flex-column align-items-end">
                <div class="message">¡Hola! ¿Cómo estás?</div>
            </div>
            <div class="chat-message bot d-flex flex-column align-items-start">
                <div class="message">Hola, todo bien. ¿Y tú?</div>
            </div>
        </div>
        <!-- Message Input -->
        <div class="p-3">
            <form id="chat-form" class="d-flex">
                <input type="text" class="form-control me-2" id="message-input" placeholder="Escribe un mensaje..."
                    required />
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chat_boot.js') }}"></script>
</body>

</html>